body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.65;
    font-size: 1.1rem;
    text-align: center;
    color: #393d41;
}



header {
    background-color: black;
}

#logo {
    display: inline-block;
    width: 40%;
    height: auto;
}


h1,
h2 {
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    color: #25a2c3;

}


#citazione {
    color: white;
}


blockquote {
    font-style: italic;
    font-size: 0.85em;
    margin: 1.7em 0;
}

button {
    background-color: #e22d0e;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 15px;
    min-width: 150px;
    min-height: 30px;
    border: none;
    border-radius: 5px;
}


#sezionebottone {
    height: 300px;
    background-size: cover;
    background-image: url(../img/banner.jpg);
    padding: 3em
}



#citazione {
    background-color: #e22d0e;
}

footer {
    background-color: #25a2c3;
    color: white;
}


a {
    color: white;
}


hr {
    width: 50%;
    color: white;
}


.foto {
    border-radius: 4px;
    border: solid 1px #dee1e3;
    margin-bottom: 2em;
    padding-bottom: 1.5em;
    font-size: 1rem;
}


.foto img {
    display: inline-block;
    width: 100%;
}


#fotorotonda {
    margin-top: 30px;
    border-radius: 50%;
}