body {
    font-family: 'Poppins', sans-serif;
    background-image: url(../img/sfondo.png);
    background-attachment: fixed;
}

header {

    background-color: #3f6bca;
    text-align: center;
    color: white;
}

header nav li {
    list-style: none;

}



header nav li a {
    text-decoration: none;
    color: white;
}

hr {display: none;} /* rimuove l'elemento */

#autore {
    color: #a0a0a0;
}


table {
    border-bottom: 0px solid blue;
    border-collapse:collapse;


}

thead {
    border: 0px solid;
    background-color: #3f6bca;

}

tr {
    border: 0px solid;
    border-color: #f3f3f3;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}


main {
    border: 1px medium solid;
    background-color: white;
    padding: 5px;
    box-shadow: 0 3px 3px black;
}

aside div {
    border: 2px solid;
    background-color: #a0a0a0;
}

footer {
    border: 2px solid;
    background-color: #00A0C6;
    box-shadow: 0 3px 3px black;
}

fieldset {
    border: 2px solid;
    background-color: #a0a0a0;
    box-shadow: 0 3px 3px black;
}


.corpo,
b {
    border: 1px solid grey;
    background-color: #a0a0a0;
    box-shadow: 0 3px 3px black;
}

footer a {
    color: fuchsia;
}