body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E9EDEE;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #212F3F;
    padding: 20px;
}

#linkfinti {
    background-color: #364757;
    padding: 20px;
    color: white;
}

#banner {
    background-color: orangered;
    padding: 10px;
    color: white;
    text-align: center;
    margin-top: 50px;
}

#bannersfondo {
    background-image: url(../img/bg-image.png);
    text-align: center;
    color: white;
    background-size: cover;
    padding: 100px;
    margin-top: 50px;
}

#contenitoreimg h2 {
    margin-left: 2rem;
}

a {
    text-decoration: none;
    color: rgb(0, 108, 122);
}

#contenitoreimg {
    background-color: white;
    margin-bottom: 50px;
}

.img {
    width: 250px;
    height: 375px;
    border-radius: 50px;
    margin: 100px;
    -webkit-box-shadow: 9px 7px 15px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 9px 7px 15px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 9px 7px 15px 0px rgba(34, 60, 80, 0.2);
    object-fit: cover;
}

#backbutton {
    text-align: center;
    background-color: #364757;
    padding: 50px;
    text-decoration: underline;
}

#backbutton2 {
    color: white;
}

footer {
    background-color: #212F3F;
    text-align: center;
    padding: 4rem;
    background-size: cover;
}

#sezione {
    text-align: center;
}