@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #415fe1;
    font-family: "Roboto";
    font-size: x-large;
    color:white;
    padding: 0;
    }

#contenitore2 {
    margin-left: 200px;
}


img {
    width: 20%;
}


a:hover {
    text-decoration: none;
    color:black
}
a:link, a:visited{
    text-decoration: none;
    color: #fff;
}