@import url('https://fonts.googleapis.com/css2?family=Outfit:&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Outfit', sans-serif;
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    box-sizing: border-box;
    color: white;
    line-height: 1.5rem;
    font-size: 16px;
    text-align: center;
}

h1,
h2,
h3,
h4 {
    font-size: 60px;
    font-family: 'Outfit', sans-serif;
}

h2 {
    font-size: 25px;
}

button,
.stars,
input {
    cursor: pointer;
}

header {
    text-align: left;
}

header img {
    width: 140px;
    height: auto;
    max-height: 60px;
    max-width: 100%;
    margin-left: 5%;
    margin-top: 2%;
}

/*pagina index*/

.principale2 {
    text-align: left;
    margin-left: 5%;
}

.titolo span {
    font-weight: normal;
}

.viola {
    color: #d20094;
    font-size: 30px;
    margin-bottom: 0.5em;
}

span {
    font-weight: bold;
}

.bottone {
    background-color: #00ffff;
    padding: 1em 3em;
    margin-top: 5%;
    border-color: transparent;
    font-weight: bold;
    color: #0B113B;
}

.bottone:hover {
    box-shadow: 0px 0px 13px 2px #00ffff;
}

#bottone1 {
    margin-left: 50%;
}

#check1 {
    appearance: none;
    border: 2px solid white;
    background-color: #0B113B;
    width: 16px;
    height: 16px;
    position: relative;
    margin: 0;
    margin-left: 23px;
}

label {
    padding-left: 10px;
}

#check1::before {
    visibility: hidden;

}

#check1:checked::after {
    visibility: visible;
    font-size: 12px;
    content: '\2713';
    position: fixed;
    text-align: center;
}

.primoButton {
    width: auto;
}

/*quiz*/

#domanda {
    font-size: 30px;
    margin-bottom: 70px;
    line-height: 1.2em;
}

#content {
    box-sizing: border-box;
    width: 105%;
    display: inline-block;
    margin: 0 auto;
    position: relative;
    top: -11.4em;
    padding: 22px;
    text-align: center;
    font-size: small;
}

#countDown {
    text-align: right;
    margin-right: 5%;
    height: 180px;
}

.circle p {
    margin-top: 0px;
    margin-bottom: 8px;
    line-height: 1.2;
    font-size: x-small;
}

aside {
    display: inline-block;
    text-align: right;
    font-size: 4em;
    padding-top: 8px;

}

#countDown .circle {
    position: relative;
    width: 160px;
    height: 120px;
    display: inline-block;

}

#countDown .circle svg {
    position: relative;
    width: 160px;
    height: 160px;
    transform: rotate(270deg) rotateX(180deg);
}

#countDown .circle svg circle {
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke-width: 12;
    stroke: #08080839;
    transform: translate(6px, 6px);
}

#countDown .circle svg circle:nth-child(2) {
    stroke: var(--clr);
    stroke-dasharray: 440;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    stroke-linejoin: miter;
}

#progresso {
    font-size: 25px;
    font-weight: normal;
}


.testo p {
    padding: 0;
    margin-bottom: 0;
}

.forum {
    display: inline-block;
    width: 80%;
    height: 33vh;
}

.forum button {
    background-color: rgba(128, 128, 128, 0.1);
    color: white;
    width: 350px;
    height: 70px;
    border-radius: 50px;
    margin-left: 40px;
    margin-bottom: 20px;
    border: 3px outset;
    font-weight: bold;
    font-size: 15px;
}

.forum button:hover {
    -webkit-box-shadow: inset 7px 8px 34px 13px #d20094, 5px 5px 19px -1px #000000;
    -moz-box-shadow: inset 7px 8px 34px 13px #d20094, 5px 5px 19px -1px #000000;
    -o-box-shadow: inset 7px 8px 34px 13px #d20094, 5px 5px 19px -1px #000000;
    box-shadow: inset 7px 8px 34px 13px #d20094, 5px 5px 19px -1px #000000;
    border-bottom: #d20094;
}

/* CSS PAGINA RESULT */

#container {
    width: 70%;
    height: 80%;
    font-weight: normal;
    color: #E3E3E8;
    margin: 0 auto;
}

#correct {
    padding-left: 50px;
    height: 50%;
    float: left;
}

#wrong {
    height: 50%;
    float: right;
    padding-right: 80px;
}

#value {
    padding-top: 20px;
    width: 70%;
    height: 40%;
    float: right;
    margin: 0 auto;
    position: absolute;
}

#cover-center {
    display: content;
}

#wrong h2 {
    padding-top: 120px;
    font-size: 3.5em;
    line-height: 1em;
    margin-bottom: 0;
    text-align: right;
    font-weight: normal;
}

#correct h2 {
    padding-top: 120px;
    font-size: 3.5em;
    line-height: 0.9;
    text-align: right;
    margin-bottom: 0;
    font-weight: normal;

}

#percentualeS {
    margin-right: 20px;
}

#correct p {
    text-align: left;
    margin: 0;
    margin-left: 10px;
}

#correct h1 {
    margin: 0;
    padding: 0;

}

#wrong p {
    text-align: right;
    margin: 0;

}

.testoCorrect {
    font-size: 1.1em;
    line-height: 1.2em;
}

.testoCorrect p {
    font-size: 0.8em;
    margin-bottom: 30px;
}

.ultimoButton {
    background-color: transparent;
    padding: 0.7em 2.7em;
    color: white;
    font-weight: bold;
    border: 2px solid white;
    font-size: 1.5em;
    margin-top: 100px;
}

.ultimoButton:hover {
    box-shadow: 0px 0px 25px 10px #262266;
}

.footer {
    display: contents;
}

.cerchio {
    height: 120%;
}

#value .circle svg {
    width: 160px;
    height: 160px;

}

#value .cerchio svg {
    fill: transparent;
    stroke-width: 20px;
    stroke: #d20093d5;
    stroke-linecap: round;
    transform: translate(4px, 4px);
    transform: rotate(270deg) rotateX(180deg);

}

#value .cerchio svg circle:nth-child(2) {
    stroke: var(--clr1);
    stroke-dasharray: 360;
    stroke-dashoffset: 108;

}

#value div .testoCorrect {
    position: relative;
    bottom: 90%;
    text-align: center;
    color: white;
    font-size: 500;
}

#testoCorrect span {
    font-size: 1.5em;
    font-weight: lighter;

}

/* CSS PAGINA feedback */

.principale {
    width: 100%;
    margin-top: 80px;
}

.principale h2 {
    font-weight: normal;
}

.feedback {
    width: 43%;
    background: transparent;
    border-color: transparent;
    border-bottom-color: #d20094;
    padding: 10px;
    padding-bottom: 4px;
    padding-left: 25px;
    margin: 0;
    color: #d20094;
    line-height: 1.4em;
    font-size: 1em;
    text-shadow: 0 0 20px #d20094;
    cursor: text;
}

.feedback:focus {
    outline: none;
}

::placeholder {
    color: #656771;
    font-size: 1em;
}

.sezione1 {
    margin-bottom: 5%;
}

.stars img {
    width: 3%;
    padding: 0.2em;
    opacity: 0.1;
}

.stars img.stelleColorate {
    opacity: 1;
}